<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="LdapServer1" value="xx.xxx.x.xxx"/>
    <add key="LdapServer2" value="xx.xxx.x.xxx"/>
    <add key="LdapAdminUser" value="xxxx@xxx.local"/>
    <add key="LdapAdminPassword" value="xxxxxxxxxxxx"/>
    <add key="LdapContainer" value="OU=xxxx,OU=xxxx,OU=xxxx,DC=xxxx,DC=xxxx"/>

  </appSettings>
</configuration>